<h3>Find By Name</h3>
<div style="width: 300px;">
	<form (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="name">Name</label> <input type="text"
				class="form-control" id="name" required [(ngModel)]="name"
				name="name">
		</div>

		<div class="btn-group">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</form>
</div>
<ul>
	<li *ngFor="let mov of movies">
		<h4>{{mov['id']}} - {{mov['name']}} - {{ mov['year'] }}  - {{ mov['director'] }} - {{ mov['score'] }}</h4>
	</li>
</ul>
